fastapi
uvicorn
python-multipart
fastapi-cors
requests
numpy==1.24.3

opencv-python-headless
huggingface_hub

torch==2.1.0+cpu
torchvision==0.16.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
